html {
    overflow-y: auto;
}

/* body {
	font-family: Avenir;
}

.title {
	font-family: futura-pt, sans-serif;
	font-weight: 600;
	font-style: normal;
}

.subtitle {
	font-family: lemonde-journal, serif;
	font-weight: 400;
	font-style: italic;
} */

a.sidebar-nav-item {
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: -2px;
}

a.sidebar-nav-item:active {
	color:#ffffff;
}

.center, .center-column, .top, .right, .bottom, .left {
	display: flex;
	justify-content: center;
	align-items: center;
}

.center-column {
    flex-direction: column;
}

.hero.is-fullheight-with-navbar {
    min-height: calc(100vh - 56px)!important;
}

.hero.is-fullheight-with-navbar-and-description {
    min-height: calc(100vh - 40vh - 56px)!important;
}

@media (min-width: 1024px) {
.has-large-padding {
	padding: 3rem 4rem;
}
.has-huge-padding {
	padding: 4rem 5rem;
}
}

.hero {
	background-size:cover;
	background-position: 50% 50%;
}

.top    { align-items:     flex-start; }
.right  { justify-content: flex-end;   }
.bottom { align-items:     flex-end;   }
.left   { justify-content: flex-start; }

.single-spaced, .single-spaced * {
    line-height: 1;
}

@media (max-width: 1024px) {
	.desktop {
		display: none;
	}
}