html {
	overflow-y: auto;
}

body {
	font-family: proxima-nova, sans-serif;
	-webkit-font-smoothing: antialiased;
}

.title {
	font-size: 4rem;
	font-family: freight-big-pro, serif;
	font-weight: 400;
	font-style: normal;
}

.subtitle {
	font-family: proxima-nova, sans-serif;
	font-weight: 400;
	font-style: normal;
}

a.active {
    color: #b5022f!important;
}

a:hover {
    color: #b7002a;
    background: transparent;
}

a.navbar-item:hover {
    color: #b7002a;
    background: transparent;
}

.horizontal-nav-item {
	display: inline-flex;
}

a.aside-menu-item {
    padding: 0.5rem;
    color: #777;
    font-family: freight-big-pro, serif;
    font-weight: 400;
    font-style: normal;
}

a.aside-menu-item:hover {
    color: #b7002a;
    background: transparent;
}

.center,
.center-column,
.top,
.right,
.bottom,
.left {
	display: flex;
	justify-content: center;
	align-items: center;
}

.center-column {
	flex-direction: column;
}

@media (min-width: 1024px) {
.is-fullheight-with-mainnav {
	min-height: calc(100vh - 9rem) !important;
}
ul.menu-list {
    margin-top: -9rem;
}
}

.is-fullheight-with-mainnav-and-subnav {
	min-height: calc(100vh - 96px) !important;
}

@media (max-width: 1024px) {
img.logo-main {
    height: 4rem!important;
    border-radius: 7px!important;
    margin-top: 2rem!important;
}
}

@media (min-width: 1024px) {
	.has-large-padding {
		padding: 3rem 4rem;
	}

	.has-huge-padding {
		padding: 4rem 5rem;
	}
}

.hero {
	background-size: cover;
	background-position: 50% 50%;
}

.top {
	align-items: flex-start;
}

.right {
	justify-content: flex-end;
}

.bottom {
	align-items: flex-end;
}

.left {
	justify-content: flex-start;
}

.single-spaced,
.single-spaced * {
	line-height: 1;
}

@media (max-width: 1024px) {
	.desktop {
		display: none;
	}
}

.is-vertical-center {
	display: flex;
	align-items: center;
}

.is-width-100 {
	width: 100%
}

.is-sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.has-fulleight-bg {
	background-size: cover;
	background-position: 50% 50%;
}

.navbar-item, .navbar-link {
    padding: 1rem 1rem;
    letter-spacing: 2px;
}

img.logo-main {
    height: 6rem;
    box-shadow: 0 4px 11px 0 rgba(37,44,97,.15), 0 2px 3px 0 rgba(93,100,148,.2);
    border-radius: 10px;
    border: 1px solid #c51d2f;
    margin-top: 3rem;
}