<nav class="hero-head">
    <div class="columns is-mobile is-marginless heading has-text-weight-bold">
        <div class="column left">
            <a href="#" class="navbar-item image has-text-black center">
                <i class="fas fa-bars" style="width: 1rem; height: 1rem;"></i>
            </a>
            <a href="#" class="navbar-item has-text-black">MENU</a>
        </div>
        <div class="column center">
            <a href="{{ .Site.BaseURL | relLangURL }}" class="navbar-item has-text-black">LOGO</a>
        </div>
        <div class="column right">
            <a href="#" class="navbar-item has-text-black">CONTACT US</a>
        </div>
    </div>
</nav>