<nav class="hero-head">
    <div class="columns is-mobile is-marginless heading has-text-weight-bold">
        <div class="column left">
            <figure class="navbar-item image has-text-black center">
                <i class="fas fa-bars" style="width: 1rem; height: 1rem;"></i>
            </figure>
            <p class="navbar-item has-text-black">MENU</p>
        </div>
        <div class="column center">
            <p class="navbar-item has-text-black">LOGO</p>
        </div>
        <div class="column right">
            <p class="navbar-item has-text-black">CONTACT US</p>
        </div>
    </div>
</nav>