<div class="column is-one-quarter has-background-white-bis has-large-padding">
        <section>
                {{ range .Pages }}
            <a href="{{.URL}}" class="media">
                <figure class="media-left">
                    <p class="image is-64x64">
                        <img src="{{.Params.headshot}}" class="is-rounded">
                    </p>
                </figure>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong class="is-uppercase is-size-4">{{.Title}}</strong>
                            <br>
                            <em>{{.Params.position}}</em>
                        </p>
                    </div>
                </div>
            </a>
            {{ end }}
        </section>
</div>