html {
	overflow-y: auto;
}

body {
	font-family: freight-big-pro, serif;
	-webkit-font-smoothing: antialiased;
}

.subtitle {
	font-family: futura-pt, sans-serif;
	font-weight: 600 !important;
	font-style: normal;
}

.navbar-item {
	font-family: futura-pt, sans-serif;
	font-weight: 600 !important;
	font-style: normal;
	padding: 0.75rem !important;
}

.horizontal-nav-item {
	display: inline-flex;
}

.center,
.center-column,
.top,
.right,
.bottom,
.left {
	display: flex;
	justify-content: center;
	align-items: center;
}

.center-column {
	flex-direction: column;
}

@media (min-width: 1024px) {
.is-fullheight-with-mainnav {
	min-height: calc(100vh - 40px) !important;
}
}

.is-fullheight-with-mainnav-and-subnav {
	min-height: calc(100vh - 80px) !important;
}

@media (min-width: 1024px) {
	.has-large-padding {
		padding: 3rem 4rem;
	}

	.has-huge-padding {
		padding: 4rem 5rem;
	}
}

.hero {
	background-size: cover;
	background-position: 50% 50%;
}

.top {
	align-items: flex-start;
}

.right {
	justify-content: flex-end;
}

.bottom {
	align-items: flex-end;
}

.left {
	justify-content: flex-start;
}

.single-spaced,
.single-spaced * {
	line-height: 1;
}

@media (max-width: 1024px) {
	.desktop {
		display: none;
	}
}

.is-vertical-center {
	display: flex;
	align-items: center;
}

.is-width-100 {
	width: 100%
}

.is-sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 40;
}

.has-fulleight-bg {
	background-size: cover;
	background-position: 50% 50%;
}