<div class="column is-paddingless" style="background-image:linear-gradient(to top, {{.Site.Params.themeBgFrom}} 0%, {{.Site.Params.themeBgTo}} 100%);">
    <div class="is-flex is-fullheight-with-mainnav is-vertical-center is-sticky">
    <ul class="menu-list is-width-100 has-text-centered">
        {{ $currentPage := . }}
        {{ range .Site.Menus.team }}
        <li>
                <a class="is-size-1 aside-menu-item{{if or ($currentPage.IsMenuCurrent `team` .) ($currentPage.HasMenuCurrent `team` .) }} active{{end}}"
                    href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
            </li>
        {{ end }}
    </ul>
    </div>
</div>