<nav class="hero-head">
    {{ $currentPage := . }}
    <div class="columns is-mobile is-marginless heading has-text-weight-bold">
        <div class="column left is-paddingless">
                <ul>
                        {{ range .Site.Menus.mainleft }}
                        <li class="horizontal-nav-item">
                            <a class="navbar-item{{if or ($currentPage.IsMenuCurrent `mainleft` .) ($currentPage.HasMenuCurrent `mainleft` .) }} active{{end}}"
                                href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
                        </li>
                        {{ end }}
                    </ul>
        </div>
        <div class="column center is-paddingless">
            <ul>
                <li class="horizontal-nav-item">
                    <a class="navbar-item" href="{{ .URL }}" title="{{ .Title }}"><img class="logo-main" src="/uploads/img/otto-e-mezzo-bombana.png" alt="Otto E Mezzo Hong Kong"></a>
                </li>
            </ul>
        </div>
        <div class="column right is-paddingless">
            <ul>
                {{ range .Site.Menus.mainright }}
                <li class="horizontal-nav-item">
                    <a class="navbar-item{{if or ($currentPage.IsMenuCurrent `mainright` .) ($currentPage.HasMenuCurrent `mainright` .) }} active{{end}}"
                        href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</nav>