<div class="column is-paddingless" style="background-image:linear-gradient(to right, {{.Site.Params.themeBgFrom}}, {{.Site.Params.themeBgTo}}, {{.Site.Params.themeBgFrom}})">
    <div class="columns is-marginless is-sticky">
        <div class="column center is-paddingless">
            <img class="logo-main" src="/uploads/img/otto-e-mezzo-bombana.png" alt="Otto E Mezzo Hong Kong"></a>
        </div>
    </div>
    <div class="is-flex is-fullheight-with-mainnav is-vertical-center is-sticky">
        <ul class="menu-list is-width-100 has-text-centered">
            <li>

            </li>
            {{ $currentPage := . }}
            {{ range .Site.Menus.team }}
            <li>
                <a class="is-size-1 aside-menu-item{{if or ($currentPage.IsMenuCurrent `team` .) ($currentPage.HasMenuCurrent `team` .) }} active{{end}}"
                    href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
            </li>
            {{ end }}
        </ul>
    </div>
</div>